---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
  </head>
  <body class="font-sans bg-white text-black">
    <slot />
  </body>
</html>
